.container-page {
  max-width: 1500px;  
  margin: 0 auto;       
  padding: 0 20px;      
}


/* 
.container-navbar{
  position: absolute;
  width: 100%;
  top: 5%;
  display: flex;
  z-index: 10;
}


 */