.container {
  background: #000000;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  padding: 0.5em;
  border-radius: 2px;
  border: solid 1px black;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.container a {
  text-decoration: none;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}


.container::after, .container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 2px;
  background-image: conic-gradient(from var(--angle),#DF6595,#E2A225,#DADADA,#374D5B);
  animation: spin linear 5s infinite;
}

.container::before{
  filter: blur(1.5rem);
  opacity: 0.5;
}

@keyframes spin {
  from{--angle: 0deg}
  to{--angle: 360deg}
  
}


.btn {
  padding: 0.5em 1.5em;
  color: #C3C3C3;
  cursor: pointer;
  transition: 0.1s;
  text-shadow: 3px 3px 3px black;
  border-radius: 2px;
  border: none;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  letter-spacing: 1px;
  font-weight: 600;
  font-style: normal;
  font-size: 1.05rem;
}


.logo img {
    width: 30px;
}

.btn:hover {
  background: rgba(255, 255, 255, 0.188);
}

