.searchInput{
    background-color: transparent;
   padding-top: 0.6rem;
   padding-bottom: 0.6rem;
   width: 20%;
   border: none;
   border-radius: 3px;
   box-shadow: 2px 1px 2px rgba(182, 174, 174, 0.705);
   border: solid 1px #fff;
   color: rgb(0, 255, 0);
   text-align: center;
   font-family: monospace;
    
}


.searchInput:focus{
    background-color: #313131;
    color: white;
}

.container-search:has(.searchInput:focus) svg {
    opacity: 0;
}

.container-search:has(.searchInput:hover) svg {
    z-index: 1;
}

.searchInput:hover{
    scale: 1.04;
    background-color: rgba(0, 0, 0, 0.616);
    box-shadow: 5px 5px 5px 0px rgba(182, 174, 174, 0.877);
}

