
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #000000;
}



@font-face {
    font-family: 'ClashDisplay';
    src: url('./assets/fonts/ClashDisplay-Variable.woff2') format('woff2'),
         url('./assets/fonts/ClashDisplay-Variable.woff') format('woff');
    font-weight: 200 700;
    font-display: swap;
  }
  
